<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

	<Package
    Name="SampleAppDaneelSetup"
    Manufacturer="Daneel Hewitt"
    Version="1.0.0"
    UpgradeCode="95a175e6-55a9-4ee3-b2e4-0da3e23f4233">
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<StandardDirectory Id="ProgramFilesFolder">
			<Directory Id="INSTALLFOLDER" Name="SampleAppDaneel">
				<Component Id="MainExecutable">
					<File Source="$(var.SampleAppDaneel.TargetPath)" />
				</Component>
			</Directory>
		</StandardDirectory>

		<Feature Id="Main">
			<ComponentRef Id="MainExecutable" />
		</Feature>

	</Package>

</Wix>

